:9093 {
    proxy / alertmanager:9093 {
       transparent
    }

    errors stderr
    tls off
}

:8080 {
    proxy / cadvisor:8080 {
       transparent
    }

    errors stderr
    tls off
}

:3000 {
    proxy / grafana:3000 {
        transparent
        websocket
    }

    errors stderr
    tls off
}

:9100 {
    proxy / node-exporter:9100 {
       transparent
    }

    errors stderr
    tls off
}

:9090 {
    proxy / prometheus:9090 {
       transparent
    }

    errors stderr
    tls off
}
